:root{
    --backgrounColor: #EFF1FA;
    --acentoFuerte: #0A3871;
    --acentoClaro: #a0d3f070;
    --textoClaro: #f2fefe;
    --textoFuerte: #053268;
}

/* ///////////ESTILOS DE LAS TARJETAS ///////////////
////////////////////////////////////////////////////*/

.cardStyle{
    font-size: 9px;
    font-weight: lighter;
    display: flex;
    font-family: sans-serif;
    text-align: center;
    margin: 10px 15px;
    
    background-color: rgba(252, 252, 252, 0.801);
    box-shadow: 4px 4px 10px 3px #c0bdbd75;
    transition: 200ms;
    color: var(--textoFuerte);
    min-width: 480px;
  border-bottom: none;
  border-radius: 6px;
  border-bottom-right-radius: 60px;

}
.cardStyle:hover{
    box-shadow: 5px 5px 10px 3px #76c0eb;
    background-color: rgb(252, 252, 252);
    margin-top: 1px 1px;
  border-bottom-right-radius: 20px;


}
.textCardContainer{
    justify-content: center;
    width: 280px;
    text-align: center;
    margin-top: 5px;
}
.img{
    display: flex;
    text-align: center;
}
.img:hover::after{
    content: "Details";
    position: absolute;
    padding: 58px 45px;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 900;
    color: black;

}.img:hover{
    opacity: .6;
    transition: 600ms;

}
.divImage{
    height: 140px;
    margin: 9px 9px;
    border-radius: 5px;
}
.cardButton{
    position: absolute;
    padding: 8px 12px;
    margin: 3px;
    margin-left: 140px;
    border: none;
    border-radius:60px;
    transition: 200ms;
}
.cardButton:hover{
   background-color: rgb(13, 216, 47);
}
.nombre{
        background-color: var(--acentoFuerte);
        color: #f9fafa;
        width: 120px;
        width: 120px;
        margin: 0px auto;
        border-radius: 5px;
       
}

.name{
    justify-content: center;

}

/*////////////////////////////////////////////////////
///////////////////////////////////////////////////////
//////////////////////////////////////////////////////*/




