:root{
    --backgrounColor: #EFF1FA;
    --acentoFuerte: #0A3871;
    --acentoClaro: #a0d3f0;
    --textoClaro: #f2fefe;
    --textoFuerte: #053268;
}

/* ///////////ESTILOS DE LAS TARJETAS ///////////////
////////////////////////////////////////////////////*/

.cardStyle{
    font-size: 9px;
    display: flex;
    font-family: sans-serif;
    text-align: center;
    margin: 12px 20px;
    border-radius: 5px;
    background-color: rgb(252, 252, 252);
    box-shadow: 4px 4px 10px 3px #c0bdbd75;

}
.textCardContainer{
    justify-content: center;
    width: 280px;
    text-align: center;
    margin-top: 5px;
}
.img{
    display: flex;
text-align: center;
}
.divImage{
    height: 140px;
    margin: 9px 9px;
    border-radius: 5px;
}
.cardButton{
    position: absolute;
    padding: 8px 12px;
    margin: 3px;
    margin-left: 100px;
    border: none;
    border-radius:60px;
    transition: 200ms;
}
.cardButton:hover{
   background-color: rgb(255, 97, 97);
}

/*////////////////////////////////////////////////////
///////////////////////////////////////////////////////
//////////////////////////////////////////////////////*/




